# Data Science Tools and Ecosystem

### In this notebook, Data Science Tools and Ecosystem are summarized.

#### Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. SQL

#### Some commonly used libraries used by Data Scientists include:
1. Pandas
2. numPy
3. tensorflow

|Data Science Tools|
--------------------
|Hadoop|
|Jupyter notebook|
|RStudio|

### Below are a few examples of evaluating arithmetic expressions in python:

a=5
b=7
sum = a + b
print(sum)

multiple = 5*5
print("5 * 5 =", multiple)

In [4]:
#this is a simple arithmetic expression to multiply then add integers
print((3*4)+5)

17

In [5]:
#This will convert 200 minutes to hours by diving by 60
mins=200
hours=mins/60
print(hours)

3.3333333333333335

## Objectives:
- Popular languages in Data Science.
- Some commonly used Libraries.
- Simple arithmetic expressions in Python.

## Author
Parteek Sharma